{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_input.css' %}">
</head>
<body>
<div class="container">
    <h1>删除页面</h1>
    <div class="col-md-offset-4 col-md-3">
        <h3>确定要删除吗？</h3>
        <form method="post" >
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="确定">
        </form>
    </div>
</div>


</body>
</html>

